.chart-container {
  display: flex;
  align-items: flex-end;
  margin: 4px
}

.chart-entry {
  width: 100%;
}

.chart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: center;
  color: white;
  margin: 6px;
}

.chart-caption {
  text-align: center;
  font-size: small;
}