.chart-container {
  display: flex;
  align-items: flex-end;
}

.chart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: center;
  padding: 3px;
  margin: 1px;
  color: white;
  width: 100%;
}

.chart-caption {
  text-align: center;
}